* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 6.4rem 0;
}

.navbar .right img {
  width: 2.4rem;
  height: 2.4rem;
}

.navbar .left {
  font-size: 3.2rem;
  font-weight: bold;
}

.right {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

.navbar .right a:hover {
  text-decoration: underline;
}

.bar1,
.bar2,
.bar3 {
  background-color: black;
  height: 0.5rem;
  width: 3.6rem;
  margin: 0.5rem;
}

.navbar .hamburger {
  cursor: pointer;
  display: none;
}

.project-grid {
  display: grid;
  grid-template-areas:
    "eth eth alphabet"
    "eth eth traveler"
    "astro cube traveler"
    "cup insta insta"
    "cup insta insta"
    "foam foam dimensional"
    "foam foam dimensional";
  gap: 1.6rem;
  width: 100%;
}

#eth {
  grid-area: eth;
}
#alphabet {
  grid-area: alphabet;
}
#traveler {
  grid-area: traveler;
}
#astro {
  grid-area: astro;
}
#cube {
  grid-area: cube;
}
#cup {
  grid-area: cup;
}
#ig {
  grid-area: insta;
}
#foam {
  grid-area: foam;
}
#dimensional {
  grid-area: dimensional;
}
.project {
  /* width: 30rem; */
  position: relative;
}

.project img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.project .overlay {
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  top: 0;
  left: 0;

  transition: all 0.3s ease;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.overlay.white {
  color: white;
}

.footer {
  text-align: center;
  padding: 6.4rem;
}

@media only screen and (max-width: 110rem) {
  .container {
    max-width: 100%;
  }
  .project-grid {
    grid-template-areas:
      "eth eth "
      "alphabet traveler"
      "astro cube"
      " insta insta"
      " cup foam"
      "dimensional dimensional";

    max-width: 100%;
  }
}

@media only screen and (max-width: 76.8rem) {
  .project-grid {
    margin-top: 10rem;
  }
  .navbar {
    padding: 2.4rem 2.4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    background-color: white;
    width: 100%;
  }

  .close {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 100vh;
    right: -100%;
    top: 0;
    justify-content: center;
    gap: 5rem;
    animation: closeNav 1s;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    padding-top: 15rem;
    animation-fill-mode: forwards;
  }

  .open {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 50vw;
    right: 0;
    top: 0;
    justify-content: center;
    gap: 5rem;
    animation: openNav 1s;
    transform: translateX(0%);
    padding-top: 15rem;
    animation-fill-mode: forwards;
    transition: all 0.5s;
  }

  .navbar .hamburger {
    display: block;
    z-index: 1;
  }

  .project-grid {
    grid-template-areas:
      "eth eth "
      "alphabet alphabet"
      "traveler traveler"
      "astro cube"
      " insta insta"
      " cup cup "
      " foam foam "
      "dimensional dimensional ";
  }

  .project .overlay {
    font-size: 2.4rem;
  }
}

.animatebar1 {
  animation: flipBar1 0.5s;
  animation-fill-mode: forwards;
}
.animatebar2 {
  animation: fadeBar2 0.5s;
  animation-fill-mode: forwards;
}
.animatebar3 {
  animation: flipBar3 0.5s;
  animation-fill-mode: forwards;
}
@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

@keyframes fadeBar2 {
  from {
    translate: scaleX(1);
    opacity: 1;
  }
  to {
    translate: scaleX(0);
    opacity: 0;
  }
}
